header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    text-align: center;
    grid-area: hero;
    background-repeat: no-repeat;
    background-position: center top;


    h3{
        margin-bottom: 60vh;
    }
    h1, h3 {
        color: $color-tertiary;
        background-color: transparent;
    }


}

@media only screen and (max-width: 1024px) {
    header{
        height: 70vh;
       
        h1{
            
        }
        h3{
            margin-bottom: 40vh;
        }
    }

}