.stadium {
    display: grid;
    grid-area: stad;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto;
    width: 100%;
    height: 75vh;
    overflow: hidden;
  

    grid-template-areas: 
    "img img img img img img desc desc desc desc desc desc";

    .img-stadium {
        grid-area: img;
        width: 40vw;
    }

    .desc-stadium {
        grid-area: desc;
        color: $color-secondary;
        padding: 2rem;
        background-color: $color-primary;
        width: 100%;
        color: $color-tertiary;

       h2{
           
           margin-bottom: 1rem;
       }
       h5{
           margin-top: 1rem;
       } 
    }
    
}

@media only screen and (max-width: 1024px) {
    .stadium{
        height: 60vh;

        .img-stadium {
            grid-area: img;
            width: 20vw;
        }
    }
}