.banner {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: auto;
    grid-area: banner;
    padding: 4rem 0;

    img {
        width: 70%;
        height: auto;
    
    }
}