.slider{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh;
    grid-area: slider;
    padding: 4rem 0;

    ul {
        width: 90%;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
        grid-auto-rows: 12rem;
        grid-auto-flow: dense row;
    }

}